/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GENERAL */

html {
    font-family: Arial, Helvetica, sans-serif;
    
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding:0 10px;
    width:1080px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-col-1-6{
    width: calc((100% / 6) * 1);
}

.row-col-4-6 {
    width: calc((100% / 6) * 4);
}

.small-container {
    max-width: 900px;
    margin: 0 auto;
}

.col-3-5 {
    width: calc((100% / 5) * 3);
}

.col-2-5 {
    width: calc((100% / 5) * 2);
}

.col-1-4 {
    width: calc((100% / 4) * 1);
}

.col-3-4 {
    width: calc((100% / 4) * 3);
}

.button-piccolo {
    display: inline-block;
    border-radius: 25px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-size: small;
  }

.button-invertito {
    display: inline-block;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 0.9rem;

    cursor:pointer;
    border:none;
  }

  .button-blu {
    display: inline-block;
    border-radius: 25px;
    background-color: #7389DA;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: larger;
  }

/* HEADER */

.header1 .container .login-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header1 .link-container {
    text-align: center;
    padding-top: 10px;
}

.row .menu-container .logo img {
    height: 40px;
    padding: 10px;
}

.header1 .link-container ul li {
    display: inline-block;
    margin: 0 15px;
}

.header1 .link-container a {
    color: white;
    text-decoration: none;
}

.header2 { 
    padding: 30px 0;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
}

.header2 .homepage-text .button-piccolo {
    margin-right: 10px;
    font-size: larger;
}

.header2 .homepage-text {
    text-align: center;
    width:800px;
    min-height:400px;
}


.header2 .homepage-text h1 {
    
    color: white;
    font-size:3.5rem;
    margin:2rem 0;
}

.header2 .homepage-text p {
    font-size: 20px;
    margin: 30px;
    color: white;
    line-height: 1cm;
    font-size: 1.2rem;
    margin:2rem 0;
}


/* MAIN */

main section .sezione-1 {
    padding: 100px 0;
}

main > section:nth-child(even) {
    background-color: #D3D3D3;
}

main section .col-2-5 h2{
    font-size: 50px;
    padding-bottom: 30px;
}

main section .col-2-5 p {
    font-size: 20px;
}

main section .sezione-1 h2 {
    font-size: 50px;
    padding-bottom: 30px;
    text-align: center;
}

main section .sezione-1 p {
    font-size: 20px;
    padding-bottom: 30px;
    text-align: center;
}

main section .sezione-2 img {
    width: 1200px;
}

main section .sezione-3 {
    text-align: center;
}

main section .sezione-3 h3 {
    font-size: 30px;
    padding-top: 30px;
    margin-bottom: 50px;
    background-image: url("../img/stars.svg");
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
}
.wave-section::after{
    content:url('../img/wave.svg');
    height: 100px;
    display:block;
    widt:100%;}
.wave-1hkxOo {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.wave-flipped {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.container .wave{
    color:#D3D3D3 ;
    display:block;
}

/* FOOTER */

footer {
    background-color: #23272A;
}

.footer-1 {
    padding: 40px 40px 20px;
}

.footer-1 .row .footer-1-parte-principale h5 {
    color: #7389DA;
    font-size: 15px;
}

.footer-1 .row .footer-1-parte-principale .col-1-4 {
    line-height: 1cm;
}

.footer-1 .row .footer-1-parte-principale li {
    list-style: none;
}

.footer-1 .row .footer-1-parte-principale a {
    color: white;
    text-decoration: none;
}

.footer-container {
    min-height: 100px;
}

.container-footer-2 {
    display: flex;
    justify-content: space-between;
}

.row .col-1-4 h4 {
    font-size: 30px;
    color: #7389DA;
    padding-bottom: 20px;
}

.row .col-1-4 span {
    color: white;
}

.row i {
    color: white;
}

.row .col-1-4 img {
    max-width: 20px;
}

.row .social-icons {
    padding-top: 20px;
}

.row .social-icons i:not(:first-child) {
    padding-left: 10px;
}

.footer-1 hr{
    border-color: #7389DA;
}

.footer-2 .button-blu{
    font-size: 15px;
}
/* DEBUG */

.debug .header1 {
    background-color: #265EE9;
    padding: 10px 0px;
}
.debug .header2 {
    background-color: #08008B;
}
.debug .header2 .homepage-text{
    min-height: 400px;
}

.debug main section .row .col-3-5 {
     min-height: 400px;
}

.debug main .row .col-2-5 {
    min-height: 400px;
}
.debug main .sezione-2 {
   min-height: 400px;
}
.debug .footer-1-parte-principale > *{
   min-height: 400px;
}

